.blogposts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 -2em;

    .blogpost {
        width: 33%;
        padding: 2em;

        @media screen and (max-width: 640px) {
            width: 100%;
            padding: 1em 2em;
        }

        .thumbnail {
            display: block;
            padding-bottom: 63%;
            background-size: cover;
            background-position: center;
        }

        h3 {
            font-family: 'Roboto Condensed', sans-serif;
            text-transform: uppercase;
            text-align: center;
        }
    }
}