footer {
    background: $darkblue;
    color: #ccc;
    font-size: 1em;
    padding: 4em 0 4em 0;
    margin-top: 4em;

    .logo {
        height: 4em;
        @media screen and (max-width: 380px) {
            width: 70%;
        }
    }

    h1,h2,h3,h4,h5,h6 {
        color: $orange;
    }

    .footer-text {
        margin: 2em auto;

        p,span,ul,ol,dd,strong,b {
            color: white;
        }
    }

    .mc4wp-form {
        input {
            width: 260px;
            text-align: center;
            @media screen and (max-width: 380px) {
                width: 100%;
            }
        }
    }

    .mc4wp-alert {
        color: white;
        p {
            color: white;
        }
    }

    .wildsea {
        height: 3em;
        margin-top: 2em;
    }

}