.home-section {
    padding: 3em 0;
    border-bottom: 1px solid #D8D8D8;

    h2 {
        font-size: 2.5em;
        @media screen and (max-width: 800px){
            font-size: 1.8em;
        }
    }
}

.home-block {
    display: flex;
    text-decoration: none;

    img {
        width: 40%;
        align-self: flex-start;
    }

    .content {
        width: 60%;
        padding-left: 2em;
        
        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
        }

        .txt {
            margin-bottom: 3em;
        }
    }

    @media screen and (max-width: 800px){
        flex-direction: column;
        padding-bottom: 1em;

        img { width: 100%; }

        .content {
            width: 100%;
            padding-left: 0; 
            padding-top: 1.5em;
            .txt {
                margin-bottom: 1em;
            }
        }
    }
}

.sponsor-list {

    .sponsor-slider {
        padding-top: 2em;
    }

    .slick-initialized .slick-track {
        display: flex;
        align-items: center;
    }
    .slick-slide {

        .sponsor {
            padding: 0em 2em;

            img {
                max-height: 4em;
                max-width: 12em;
                margin: auto;
            }
        }
    }

}

.blog-and-updates {
    .blogpost {
        padding-bottom: 0;
    }
}