* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    line-height: 0.96;
    font-style: italic;
    color: $darkblue;
}


img {
    max-width: 100%;
    align-self: center;
    height: auto;
}

p, ul, ol {
    line-height: 1.7;
    margin: 0.5em 0;
    color: #555966;
}

a {
    color: $orange;
}

.capitalize {
    text-transform: uppercase;    
}

.small-caps {
    font-variant: small-caps;
}

.btn {
    display: inline-block;
    text-decoration: none;
    margin: 1em 0;
    padding: 0.5em 2em;
    background: $orange;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 500;
}

.center {
    text-align: center;
}

.aligncenter {
	display: block;
	margin: 2em auto;
}

.wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.is-resized {
    display: block;
}

article,
#tinymce.wp-editor {
    max-width: 800px;
    margin: auto;
    padding: 3em 0;

    p, ul, ol, li, em, i, a, span, mark, small, strong, b {
        line-height: 2;
    }
}

#tinymce.wp-editor {
    padding: 1em !important;
}