

.members {
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 4em;
    // margin: 0 -1em;
    
    &.board-members {
        padding-top: 0;
    }

    .member {
        width: 33%;
        padding: 2em;
        text-align: center;
        text-transform: uppercase;
        font-style: italic;
        
        @media screen and (max-width: 800px){
            width: 50%;
            padding: 1em;
        }

        img {
            width: 8em;
            border-radius: 50%;
        }

        .name {
            color: black;
            font-weight: bold;
        }

        .role {
            color: $orange;
        }
    }
}

.team-stats {
    margin-bottom: 4em;
    position: relative;
    padding-top: 40%;
    background-size: cover;
    background-position: center;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: linear-gradient(transparent, rgba(0,0,0,0.75));
    }

    .stats {
        position: relative;
        z-index: 10;
        
        p {
            color: white;
        }
    }
}