@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:600,800,900i&display=swap');

$orange: #EF7911;
$darkblue: #19255B;

.maxwidth {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}

@import 'markup';
@import 'header';
@import 'footer';
@import 'home';
@import 'sponsors';
@import 'members';
